@import "variables.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
}

body {
    background-color: $light-gray;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

.flex-wrapper {
    display: flex;
    flex-direction: column;
}
nav {
    align-self: center;
    display: flex;
    justify-content: space-between;
    width: 85vw;
    padding: 1em;

    .logo {
        align-self: center;
    }

    .nav-buttons {
        width: 40%;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-evenly;
        }


        li {
            padding: .5rem 2rem;
            
            span {
                border: 1px solid black;
                padding: .5rem 2rem;

            }
        }
    }
}

.section-1 {
    background-color: $dark-violet;
    display: flex;
    justify-content: space-around;
    color: $light-gray;
    height: 25%;

    .left {
        align-self: center;
        width: 29%;

        h1 {
            color: $light-gray;
            font-family: 'DM Serif Display', serif;
            font-size: 4rem;
            font-weight: 400;
            padding: 1rem 0rem;
        }
        p {
            line-height: 1.5rem;
            margin-bottom: 2rem;  
        }

        button {
            background-color: $dark-violet;
            color: $light-gray;
            font-family: 'Karla', sans-serif;
            font-weight: 400;
            border: 1px solid $light-gray;
            padding: .5rem 2rem;
            text-transform: uppercase;
            font-size: 1rem;

        }
    }
    .right {
        background-color: mediumpurple;

        img {
            margin-top: 5em;
        }
    }
}
.section-2 {
    background-color: rosybrown;

    .subtitle {
        font-weight: 700;
    }

    .snippets {
        background-color: silver;
        display: flex;
    }
}

.footer-nav {
    background-color: lightsteelblue;
    display: flex;

    .footer-section {
        background-color: lightyellow;

        ul {
            list-style: none;

            span {
                font-weight: 700;
            }
        }
    }
}