@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

.flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
}

.flex-wrapper nav {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85vw;
  padding: 1em;
}

.flex-wrapper nav .logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-wrapper nav .nav-buttons {
  width: 40%;
}

.flex-wrapper nav .nav-buttons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-wrapper nav .nav-buttons li {
  padding: 0.5rem 2rem;
}

.flex-wrapper nav .nav-buttons li span {
  border: 1px solid black;
  padding: 0.5rem 2rem;
}

.flex-wrapper nav .nav-buttons li span:hover {
  background-color: #2b272f;
  color: #fafafa;
}

.flex-wrapper .section-1 {
  background-color: #2d2640;
  background-image: url("/images/bg-pattern-intro-left-desktop.svg");
  background-repeat: no-repeat;
  background-position-y: top 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #fafafa;
  height: 25%;
}

.flex-wrapper .section-1 .left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 29%;
}

.flex-wrapper .section-1 .left h1 {
  color: #fafafa;
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  font-weight: 400;
  padding: 1rem 0rem;
}

.flex-wrapper .section-1 .left p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.flex-wrapper .section-1 .left button {
  background-color: #2d2640;
  color: #fafafa;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  border: 1px solid #fafafa;
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.flex-wrapper .section-1 .left button:hover {
  background-color: #fafafa;
  color: #2b272f;
}

.flex-wrapper .section-1 .right {
  width: 40%;
}

.flex-wrapper .section-1 .right img {
  height: 120%;
}

.flex-wrapper .section-2 {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.flex-wrapper .section-2 .subtitle {
  font-weight: 700;
  font-family: "DM Serif Display", serif;
  font-size: 4rem;
  margin-top: 1.5em;
  padding-top: 1.5em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-top: 1px solid black;
}

.flex-wrapper .section-2 .snippets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 3rem;
}

.flex-wrapper .section-2 .snippets .snippet {
  width: 23%;
}

.flex-wrapper .section-2 .snippets .snippet span {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}

.flex-wrapper .section-2 .snippets .snippet p {
  margin-top: 0.5rem;
}

.flex-wrapper .section-2 .snippets .snippet img {
  margin-bottom: 1em;
}

.flex-wrapper .section-3 {
  background-color: #2d2640;
  background-image: url("/images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  color: #fafafa;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 5em;
  margin-bottom: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4em;
}

.flex-wrapper .section-3 .left {
  width: 33%;
}

.flex-wrapper .section-3 .left .subtitle {
  font-family: "DM Serif Display", serif;
  font-size: 3em;
}

.flex-wrapper .section-3 .right button {
  background-color: rgba(238, 130, 238, 0);
  color: #fafafa;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  border: 1px solid #fafafa;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.flex-wrapper .section-3 .right button:hover {
  background-color: #fafafa;
  color: #2b272f;
}

.flex-wrapper .footer-wrap {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 2em;
  padding-top: 2em;
  background-image: url("/images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-color: #fafafa;
}

.flex-wrapper .footer-wrap .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 1em 0em;
  border-bottom: 1px solid #837d87;
}

.flex-wrapper .footer-wrap .social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  width: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-wrapper .footer-wrap .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80vw;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  margin: 2em 0em;
}

.flex-wrapper .footer-wrap ul {
  list-style: none;
}

.flex-wrapper .footer-wrap ul li {
  font-weight: 600;
}

.flex-wrapper .footer-wrap h6 {
  padding-bottom: 1em;
  font-size: 16px;
  font-weight: 200;
}
/*# sourceMappingURL=style.css.map */